MemTotal:       15962448 kB
MemFree:        14885308 kB
MemAvailable:   14985876 kB
Buffers:            7356 kB
Cached:           252576 kB
SwapCached:            0 kB
Active:           120460 kB
Inactive:         407480 kB
Active(anon):       2172 kB
Inactive(anon):   269408 kB
Active(file):     118288 kB
Inactive(file):   138072 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:       4194304 kB
SwapFree:        4194304 kB
Dirty:                 0 kB
Writeback:             0 kB
AnonPages:        266404 kB
Mapped:           178804 kB
Shmem:              3748 kB
KReclaimable:     175476 kB
Slab:             261392 kB
SReclaimable:     175476 kB
SUnreclaim:        85916 kB
KernelStack:        6448 kB
PageTables:         4792 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:    12175528 kB
Committed_AS:    1494496 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       29424 kB
VmallocChunk:          0 kB
Percpu:             7296 kB
AnonHugePages:    147456 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:      162816 kB
DirectMap2M:     8849408 kB
DirectMap1G:    15728640 kB
